body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del menú */
.menu {
    background-color: darkblue;
    color: #fff; 
    width: 250px; 
    height: 875px; 
    float: left;
}

.menu ul {
    list-style: none; 
    padding: 0; 
}

.menu ul li {
    padding: 10px 20px; 
    border-bottom: 1px solid white; 
}

.menu ul li a {
    color: #fff; 
    text-decoration: none; 
    display: block; 
}

.menu ul li:hover {
    background-color: black; 
}

.menu h1 {
    text-align: center;
    margin-top: 250px;
}

/* Estilo del contenido */
.contenido {
    padding: 20px;
    margin-left: 260px;
    text-align: center;
}

/* Estilo del pie de página */
.footer {
    background-color: #333;
    color: #fff; 
    clear: both;
    text-align: center; 
    padding: 10px; 
    position: absolute; 
    width: 100%; 
    bottom: 0;
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
